/* This is a bunch of CSS reset styles, which are applied globally as more sensible defaults. */

@layer reset {
  /* reset box-sizing to border-box for all elements */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    text-decoration-thickness: var(--thick-0) !important;
    transition-property: color, background-color, border-color;
    transition-duration: 20ms;
    transition-timing-function: ease;
  }

  /* fix scroll behavior for links using /some-page#header-id syntax */
  [id] {
    scroll-margin-top: 64px;
  }

  @media not print {
    :focus-visible {
      border-radius: var(--radius-1);
      outline: var(--thick-0) solid var(--color-p3);
      outline-offset: 2px;
    }

    ::selection {
      background-color: var(--select-bg);
      color: var(--color-max);
      text-shadow: var(--select-shadow);
    }

    .dark {
      color-scheme: dark;
    }
  }

  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
      scrollbar-color: var(--color-n3) rgba(none none none / 0);
    }
  }
  @media not print {
    body {
      *:hover {
        scrollbar-color: var(--color-n5) rgba(none none none / 0);
      }
    }
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: break-word;
  }

  main {
    z-index: 0;
    max-width: 750px;
    padding: 48px 32px;
    margin: 0 auto;
    font-family: var(--font-serif);
    font-size: 11pt;
    color: var(--color-n8);
    background-color: var(--color-n0);
  }

  @media (min-width: 750px) {
    main {
      border-left: var(--thick-0) solid var(--color-n4);
      border-right: var(--thick-0) solid var(--color-n4);
    }
  }

  main {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }

  /* paragraph styles */

  p {
    text-wrap: pretty;
    text-align: justify;
    margin-top: var(--paragraph-spacing);
    margin-bottom: var(--paragraph-spacing);
  }

  /* heading styles */

  h1,
  h2,
  h3,
  h4 {
    color: var(--color-p8);
    font-family: var(--font-sans);
    line-height: 1.2;
    text-wrap: balance;
  }
  h1 {
    margin-bottom: 0.75em;
  }
  h2,
  h3,
  h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  h1 {
    font-size: 14pt;
  }
  h2 {
    font-size: 13pt;
  }
  h3 {
    font-size: 12pt;
  }
  h4 {
    font-size: 11pt;
  }

  h5, h6 {
    display: none; /* overly nested headings are bad!! */
  }

  /* basic styles */

  a {
    color: var(--color-p8);
  }
  @media not print {
    a:hover {
      color: var(--color-max);
    }
  }

  mark {
    background-color: var(--color-hl);
    color: var(--color-n9);
    padding: 0 1px;
    border-radius: var(--radius-2);
  }

  del {
    text-decoration: line-through;
    color: oklch(from currentColor calc(l * var(--scalar)) c h);
  }

  small {
    font-size: 0.75em;
    color: oklch(from currentColor calc(l * var(--scalar)) c h);
  }

  sup,
  sub {
    font-size: 0.5em;
  }

  hr {
    border: none;
    height: 1px;
    background-color: var(--color-n7);
    margin-top: 24px;
    margin-bottom: 24px;
  }

  /* list styles */

  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    padding-left: 32px;
    margin-top: var(--paragraph-spacing);
    margin-bottom: var(--paragraph-spacing);
  }
  li {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  /* table styles */

  table {
    --table-radius: var(--radius-2);
    font-family: var(--font-sans);
    font-size: 15px;
    margin: var(--paragraph-spacing) auto;
    overflow: scroll;
    border: var(--thick-0) solid var(--color-n3);
    border-radius: var(--table-radius);
    padding: 2px;
    td {
      vertical-align: top;
      border-radius: var(--table-radius);
      padding: 4px 6px;
    }
  }
  table:has(th:not(:empty)) {
    /* headered table styles */
    th {
      font-size: 0.875em;
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 1.4;
      text-transform: uppercase;
      border-radius: var(--table-radius);
      padding: 4px 6px;
    }
  }
  table:not(:has(th:not(:empty))) {
    /* headerless table styles */
    thead {
      display: none;
    }
  }
  @media not print {
    th:hover,
    td:hover {
      background-color: oklch(from var(--color-p1) l c h / 0.5);
    }
  }

  /* other styles */

  img {
    max-height: 90svh;
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing);
    border: var(--thick-0) solid var(--color-n3);
    border-radius: var(--radius-3);
    overflow: hidden;

    figcaption {
      color: var(--color-n7);
      font-family: var(--font-sans);
      font-size: 0.875em;
      text-align: center;
      padding: 6px 8px;
      border-top: var(--thick-0) solid var(--color-n3);
    }
  }

  blockquote {
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing);
    border-left: var(--thick-2) solid var(--color-p5);
    padding: 12px 16px;

    background-color: var(--color-p1);
    color: oklch(from currentColor calc(l * var(--scalar)) c h);
  }

  details {
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing);
  }

  /* pre/code styles */

  code {
    font-family: var(--font-mono);
    font-size: 9.5pt;
    color: var(--color-n8);
    background-color: oklch(from var(--color-n1) l c h / 0.75);
    border-radius: var(--radius-1);
    padding: 2px 2px;
    white-space: nowrap;
  }

  pre {
    font-family: var(--font-mono);
    font-size: 9.5pt;
    line-height: 1.4;
    color: var(--color-n8);
    background-color: var(--color-min);
    border: var(--thick-0) solid var(--color-n5);
    border-radius: var(--radius-3);
    padding: 16px;
    margin-top: var(--block-spacing);
    margin-bottom: var(--block-spacing);
    overflow-x: auto;
    tab-size: 2;

    code {
      background: transparent;
      border: none;
      padding: 0;
      font-size: inherit;
      white-space: pre;
      color: inherit;
    }
  }
}
